.gitattributes export-ignore
.gitmodules export-ignore
.gitignore export-ignore
.github export-ignore
package.json export-ignore
package-lock.json export-ignore
composer.json export-ignore
composer.lock export-ignore
webpack.config.js export-ignore
tasks export-ignore
node_modules export-ignore
.nvmrc export-ignore
.gitlab-ci.yml export-ignore